Django==5.1
daphne==4.1.2
django-storages==1.14.3
django-health-check==3.18.3
ruff==0.7.1
psycopg==3.2.3
psycopg-binary==3.2.3
boto3==1.35.49
requests==2.32.3
mysqlclient==2.2.5
django-modeltranslation==0.19.10
pillow==11.0.0
paramiko==3.5.0
minio==7.2.10
chardet==5.2.0
django-recaptcha==4.0.0
