{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="container">
    {% csrf_token %}
    <div class="section-title">
      <h1 class="content-list__see-more">{% trans "Porn videos" %} {{ channel.name }}</h1>
    </div>
    <div class="row">
      {% for video in videos %}
        {% if forloop.counter0|divisibleby:8 and forloop.counter0 > 0 %}
          <div data-zone="middle"
               class="banner col-12"
               style="margin-bottom: 10px;
                      min-height:90px"></div>
        {% endif %}
        {% include "_includes/card-video-out.html" with content=video %}
      {% endfor %}
    </div>
    {% if page_obj.paginator.num_pages > 1 %}
      <div style="text-align:center;" id="btnmore_0">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}" class="load-more">&laquo; {% trans "first" %}</a>
          <a href="{% if page_obj.previous_page_number > 1 %}?page={{ page_obj.previous_page_number }}{% else %}{{ request.path }}{% endif %}"
             class="load-more">{% trans "previous" %}</a>
        {% endif %}
        <span class="current">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="load-more">{% trans "next" %}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="load-more">{% trans "last" %} &raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
