{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  {% include "_includes/head/head.html" %}
  <body data-page="{{ page_type|default:'generic' }}">
    {% block body_top %}
    {% endblock body_top %}
    {% include "_includes/navbar.html" %}
    <main id="main">
      {% include "_includes/ads/mobile-outlinks.html" %}
      {% block top_content %}
        {% include "_includes/breadcrumbs.html" %}
        <div class="container banner" data-zone="top"></div>
      {% endblock top_content %}
      {% block content %}
      {% endblock content %}
    </main>
    {% block bottom_content %}
      <div class="container banner" data-zone="bottom"></div>
    {% endblock bottom_content %}
    {% include "_includes/footer.html" %}
    {% block extra_script %}
    {% endblock extra_script %}
    {% include "_includes/disclaimer.html" %}
    {% include "_includes/ads/onlyfans-bullet.html" %}
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
