{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  {% include "_includes/header.html" %}
  <body data-page="{{ page_type|default:'generic' }}">
    {% block body_top %}
    {% endblock body_top %}
    {% include "_includes/navbar.html" %}
    <main id="main">
      {% block top_content %}
        {% include "_includes/mobile-outlinks.html" %}
        {% include "_includes/breadcrumbs.html" %}
        <div id="topbanner" class="container"></div>
      {% endblock top_content %}
      {% block content %}
      {% endblock content %}
    </main>
    {% block bottom_content %}
      <div id="bottombanner" class="container"></div>
    {% endblock bottom_content %}
    {% include "_includes/footer.html" %}
    {% block extra_script %}
    {% endblock extra_script %}
    <script src="{% static 'bootstrap.js' %}"></script>
    <script src="{% static 'main.js' %}"></script>
    {% include "_includes/disclaimer.html" %}
  </body>
</html>
