{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <div class="container">
    <div class="section-title">
      <h1 class="content-list__see-more">{{ title }}</h1>
    </div>
    {% for profile in profiles %}
      {% include "_includes/card-performer.html" with profile=profile %}
    {% endfor %}
    {% if page_obj.paginator.num_pages > 1 %}
      <div style="text-align:center;" id="btnmore_0">
        {% if page_obj.has_previous %}
          <a href="{{ request.path }}" class="load-more">&laquo; {% trans "first" %}</a>
          <a href="{% if page_obj.previous_page_number > 1 %}?page={{ page_obj.previous_page_number }}{% else %}{{ request.path }}{% endif %}"
             class="load-more">{% trans "previous" %}</a>
        {% endif %}
        <span class="current">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.</span>
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}" class="load-more">{% trans "next" %}</a>
          <a href="?page={{ page_obj.paginator.num_pages }}" class="load-more">{% trans "last" %} &raquo;</a>
        {% endif %}
      </div>
    {% endif %}
  </div>
{% endblock content %}
