{% load i18n %}
<div id="bullet" style="display: none;">
  <div class="img_wrapper"
       style="position: fixed;
              right:0;
              bottom: 15px;
              z-index: 996;
              transition: all .4s;
              width:90px">
    <div class="modal" style="display: none;">
      <div class="modal-content">
        <span class="close" style="position: relative; padding: 0;">×</span>
        <div class="d-block d-md-flex listing col-lg-12" style="padding: 10px;">
          <div class="img-avatar col-lg-3 col-md-3"></div>
          <div class="result-container col-lg-9 col-md-9">
            <a class="profile-link"
               rel="nofollow"
               href=""
               target="_blank"
               referrerpolicy="origin"></a>
            <div class="pb-3 text-muted about"
                 style="max-height:150px;
                        overflow-y: auto;
                        margin-bottom: 15px"></div>
            <div class="profile-info"></div>
          </div>
        </div>
        <a class="btn btn-success" href="" target="_blank"></a>
      </div>
    </div>
    <a class="modal-open-button" href="#" rel="nofollow noopener sponsored">
      <img src=""
           alt="onlyfans model bullet"
           loading="lazy"
           style="border-radius:50px;
                  width: 75px;
                  height:75px;
                  object-fit: cover">
    </a>
  </div>
</div>
