{% extends 'admin/change_list.html' %}
{% load i18n %}
{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}" title="{% trans 'Home' %}">{% trans 'Home' %}</a>
    › <a href="{% url 'admin:app_list' app_label='porn_models' %}">Porn_Models</a>
    › <a href="{% url 'admin:porn_models_profile_changelist' %}">Profiles</a>
    › Upload CSV
  </div>
{% endblock breadcrumbs %}
{% block content %}
  <div>
    <form action="." method="POST" enctype="multipart/form-data">
      {{ form.as_p }}
      {% csrf_token %}
      <button type="submit">Upload CSV</button>
    </form>
  </div>
  <br />
  <pre>
    pseudo;slug;photo;description;nblikes;nbphotos;nbvideos;nbposts;price;website;url
    Sara Core?;saracore;https://thumbs.onlyfans.com/public/files/thumbs/c144/z/z5/z5z/z5zdftugzenl7bhjvo61ovtxijyn54b81700149725/327176501/avatar.jpg;Description of the model;784;1820;2400;0;$5.00;onlyfans;
    ...
  </pre>
{% endblock content %}
