<div class="col-6 col-sm-4 col-xl-2" style="margin-bottom:25px;">
  <div class="item popular-item sub"
       data-url="{% url 'out:video-vote-update' id=content.id %}">
    <a rel="nofollow"
       href="{% url 'out:out-view' type_out='video' id=content.id %}"
       target="_blank"
       title="{{ content.title }}"></a>
    <div class="thumb">
      <a rel="nofollow"
         href="{% url 'out:out-view' type_out='video' id=content.id %}"
         target="_blank"
         title="{{ content.title }}">
        <img src="{{ content.local_main_thumb.url }}"
             data-src="{{ content.local_main_thumb.url }}"
             class="img-fluid lazyload"
             alt="{{ content.title }}" />
      </a>
      {% include "_includes/item-rating.html" %}
    </div>
    <a rel="nofollow"
       href="{% url 'out:out-view' type_out='video' id=content.id %}"
       target="_blank"
       title="{{ content.title }}">
      <h5 style="font-size: 0.8rem;
                 font-weight: 700;
                 margin-bottom: 0;
                 white-space: nowrap;
                 overflow: hidden;
                 text-overflow: ellipsis;
                 margin-top: 5px">{{ content.title }}</h5>
    </a>
    <div>
      <span class="bx bxs-calendar" style="display: inline;font-size: 0.8rem;"></span><span style="display: inline;font-size: 0.72rem;">{{ content.publication_date|date:'d-m-Y' }}</span>
    </div>
    <div style="font-size: 0.72rem;">
      <a href="{% url 'videos:videos-channel' channel=content.channel.slug %}"><span class="bx bxs-tv" style="display: inline;"></span><span style="display: inline; text-decoration: underline;">{{ content.channel.name }}</span></a>
    </div>
  </div>
</div>
