<div class="d-block d-md-flex listing col-lg-12">
  <a href="{{ main_href }}" class="img d-block" style="background-image:url({{ main_img_src }})"></a>
  <div class="lh-content">
    <h3><a href="{{ main_href }}">{{ main_title }}</a></h3>
    <address>{{ main_text }}</address>
    <div class="row">
      <div class="col-7">
        <a class="btn btn-outline-success" href="{{ btn_category_href }}">{{ btn_category_text }}</a>
      </div>
      <div class="col-5">
        <a class="btn btn-success" href="{{ main_href }}">{{ btn_main_href }}</a>
      </div>
    </div>
  </div>
</div>
