{% load static %}
{% load i18n %}

<div id="disclaimer-popup">
  <div class="disclaimer-content">
    <img title="Thepornator logo" alt="Thepornator logo" width="190" height="50" src="{% static 'img/logo.webp' %}" />
    <span class="h1">{% trans 'Avez-vous 18 ans?' %}</span>
    <p>
      {% trans 'En cliquant sur le bouton ci-dessous, vous confirmez que vous avez au moins 18 ans et que vous consentez à voir des contenus pour adultes.' %}
    </p>
    <button id="disclaimer-agree-button">{% trans "J'ai 18 ans ou plus - Entrer" %}</button>
    <p class="terms">
      {% trans "En accédant à Thepornator, vous acceptez notre Politique de Confidentialité et d'utilisation des cookies." %}
    </p>
  </div>
</div>
