<div class="item-rating" role="group" aria-label="rating buttons">
  <button type="button"
          class="item-rating-option item-rating-up rating-option bg-green-200 text-green-700">
    <i class="bx bxs-like"></i>
  </button>
  <button type="button"
          class="item-rating-option item-rating-down rating-option bg-red-200 text-red-700">
    <i class="bx bxs-dislike"></i>
  </button>
  <button type="button"
          class="item-rating-none rating-option bg-slate-200 text-slate-700">
    <i class="bx bxs-x"></i>
  </button>
</div>
