{% load i18n %}

<div class="container bottomNav mobile-only">
  <div class="row">
    <div class="col-3">
      <a href="https://candy.ai/?oid=2&affid=53&source_id=thepornator&sub1=banner&sub2=base" target="_blank" rel="noopener noreferrer nofollow" class="buttonClass blackBtn upperCase floatLeft noImage">{% trans 'PORNO IA' %}</a>
    </div>
    <div class="col-3">
      <a href="https://ptosrd.com/?siteId=jasmin&categoryName=&pageName=home&performerName=&prm[psid]=thepornator&prm[pstool]=205_1&prm[psprogram]=revs&filters=" target="_blank" class="buttonClass blackBtn upperCase floatLeft noImage" rel="noopener nofollow">{% trans 'WEBCAMS' %}</a>
    </div>
    <div class="col-3">
      <a href="https://k.related-dating.com/?abc=d378b834d74605b5&xa=n&acme=wid.91384&media=display" target="_blank" rel="noopener noreferrer nofollow" class="buttonClass blackBtn upperCase floatLeft noImage">{% trans 'PLAN CUL' %}</a>
    </div>
    <div class="col-3">
      <a href="https://www.nutaku.net/signup/landing/project-qt/2/?ats=eyJhIjo3NTY5OTEsImMiOjYwOTEyMDQxLCJuIjoxLCJzIjoxLCJlIjo5MjM4LCJwIjoyfQ==" target="_blank" rel="noopener noreferrer nofollow" class="buttonClass blackBtn upperCase floatLeft noImage">{% trans 'JEUX XXX' %}</a>
    </div>
  </div>
</div>
