{% load i18n %}
<table id="acro" class="table table-striped">
  <tbody>
    <tr>
      <th scope="row">{% trans "Position" %}</th>
      <td>{{ term.name }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Description" %}</th>
      <td>{{ term.description }}</td>
    </tr>
    <tr>
      <th scope="row">{% trans "Illustration" %}</th>
      <td>
        <img src="{{ term.picture.url }}"
             class="img-fluid"
             style="width: auto;
                    height: 200px"
             alt="{{ term.name }}">
      </td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td>
        <div id="rating">
          <button type="button"
                  class="btn btn-outline-success"
                  onclick="updateGlossaryTermUpDownAsync(1, '{{ term.slug }}');">
            <i class="bx bxs-like" id="like"></i> <span id="nbup">{{ term.count.up }}</span>
          </button>
          <button type="button"
                  class="btn btn-outline-danger"
                  style="margin-bottom: 10px"
                  onclick="updateGlossaryTermUpDownAsync(-1, '{{ term.slug }}');">
            <i class="bx bxs-dislike" id="dislike"></i> <span id="nbdown">{{ term.count.down }}</span>
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">{% trans "Last modification date" %}</th>
      <td>{{ term.publication_date|date:'d-m-Y' }}</td>
    </tr>
  </tbody>
</table>
